<h3>Blog</h3>
<hr>
{{outlet}}
<ul class="list-unstyled">
{{#each model as |posts|}}
 <li>
   <h4><a href="/blog/{{posts.slug}}">{{posts.title}}</a></h4>
   <small>{{posts.created_at}}</small>
   <div class="clearfix">
     {{{posts.intro}}}
   </div>
   <hr>
 </li>
{{/each}}
</ul>
